@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@include b(breadcrumb) {
  font-size: 14px;
  line-height: 1;
  @include utils-clearfix;

  @include e(separator) {
    margin: 0 9px;
    // font-weight: bold;
    color: $--breadcurmb-text-color;

    &[class*=icon] {
      margin: 0 6px;
      // font-weight: normal;
    }
  }

  @include e(item) {
    float: left;

    @include e(inner) {
      color: $--breadcurmb-text-color;

      &.is-link, & a {
        // font-weight: bold;
        text-decoration: none;
        transition: $--color-transition-base;
        color: $--breadcurmb-text-color;

        &:hover {
          // color: $--color-primary;
          cursor: pointer;
          text-decoration: underline;
          transition-duration: 0s,0.15s;
        }
      }
    }

    &:last-child {
      .el-breadcrumb__inner,
      .el-breadcrumb__inner a {
        &, &:hover {
          // font-weight: normal;
          color: $--breadcurmb-text-color;
          cursor: text;
        }
      }

      .el-breadcrumb__separator {
        display: none;
      }
    }
  }
}
