@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-background-color;
  border: $--border-base;
  border-color: $--button-default-border-color;
  color: $--button-default-font-color;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  @include utils-user-select(none);
  & + & {
    margin-left: $--button-button-margin-left;
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus {
    color: $--button-default-font-color;
    // border-color: $--color-primary-light-7;
    background-color: $--button-default-hover-bg-color;
  }

  &:active {
    color: $--button-default-active-text-color;
    // border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    background-color: $--button-default-active-bg-color;
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="wk wk-"],
  & [class*="el-icon-"] {
    & + span {
      margin-left: 4px;
    }
  }


  @include when(plain) {
    &:hover,
    &:focus {
      background: $--button-hover-background-color;
      // border-color: $--color-primary;
      color: $--color-primary;
    }

    &:active {
      background: $--button-hover-background-color;
      // border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      outline: none;
    }
  }

  @include when(active) {
    // color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    // border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--button-disabled-font-color;
      cursor: not-allowed;
      background-image: none;
      background-color: $--button-disabled-background-color;
      // border-color: $--button-disabled-border-color;
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: $--color-white;
        // border-color: $--button-disabled-border-color;
        color: $--button-disabled-font-color;
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }
  @include when(round) {
    border-radius: 16px;
    padding: 8px 12px;
  }
  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }
  @include m(primary) {
    color: $--button-primary-font-color;
    background-color: $--button-primary-background-color;
    // @include button-variant($--button-primary-font-color, $--button-primary-background-color, $--button-default-border-color);
    &:hover,
    &:focus{
      background: $--button-primary-hover-bg-color;
      color: $--button-primary-active-text-color;
    }
    &:active {
      color: $--button-primary-active-bg-color;
      color: $--button-primary-active-text-color;
    }
  }
  @include m(success) {
    @include button-variant($--button-success-font-color, $--button-success-background-color, $--button-default-border-color);
  }
  @include m(warning) {
    @include button-variant($--button-warning-font-color, $--button-warning-background-color, $--button-default-border-color);
  }
  @include m(danger) {
    @include button-variant($--button-danger-font-color, $--button-danger-background-color, $--button-default-border-color);
  }
  @include m(info) {
    @include button-variant($--button-info-font-color, $--button-info-background-color, $--button-default-border-color);
  }
  @include m(medium) {
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }
  @include m(small) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
  }
  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);
    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }

  @include m(subtle) {
    color: $--button-subtle-text-color;
    border-color: transparent;
    background-color: transparent;
  }

  @include m(link) {
    background-color: transparent;
    border-color: transparent;
    color: $--link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $--link-hover-color;
      text-decoration: underline;
    }
    &:active {
      background-color: transparent;
      color: $--link-active-color;
      text-decoration: none;
    }
    &.is-disabled {
      background-color: transparent !important;
      border-color: transparent !important;
      color: inherit;
      filter: opacity(0.44);
      text-decoration: none;
    }
    &.is-disabled:hover,
    &.is-disabled:focus {
      color: inherit;
      background-color: inherit;
      // border-color: $--button-disabled-border-color;
    }
  }

  @include m(selected) {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--button-default-selected-text-color;
      background-color: $--button-default-selected-bg-color;
    }
  }

  @include m(icon) {
    background: transparent;
    border-width: 0;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
    }
  }

  @include m(bg-icon) {
    background: transparent;

    &:hover,
    &:focus{
      background: $--button-hover-background-color;
      // border-color: $--color-primary;
      color: $--color-primary;
    }

    &:active {
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      // border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      outline: none;
    }
  }

  @include m(text) {
    border-color: transparent;
    // color: $--color-primary;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    // &:hover,
    // &:focus {
    //   color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
    //   border-color: transparent;
    //   background-color: transparent;
    // }
    // &:active {
    //   color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    //   border-color: transparent;
    //   background-color: transparent;
    // }

    &:hover,
    &:focus,
    &:active {
      background: transparent;
    }
  }

  @include m(bg-text) {
    background: transparent;

    &:hover,
    &:focus{
      background: $--button-hover-background-color;
      // border-color: $--color-primary;
      color: $--color-primary;
    }

    &:active {
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      // border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      outline: none;
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & > .el-button {
    float: left;
    position: relative;
    & + .el-button {
      margin-left: 0;
    }
    &.is-disabled {
      z-index: 1;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:not(.is-disabled) {
      &:hover,
      &:focus,
      &:active {
        z-index: 1;
      }
    }

    @include when(active) {
      z-index: 1;
    }
  }
  
  & > .el-dropdown {
    & > .el-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-color: rgba($--color-white, 0.5);
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }
      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.5);
        border-right-color: rgba($--color-white, 0.5);
      }
    }
  }
}
